header
<header>
   {{#page "search"}}<span></span> {{else}} 
   <div id="hamburger">
      <svg width="100" height="100" viewBox="0 0 100 100">
         <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
         <path class="line line2" d="M 20,50 H 80" />
         <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
      </svg>
   </div>
   {{/page}}
   <nav id="navbar" class="mx-auto navbar row"> 
      <div
         class="logo col-md-2 d-flex justify-content-center align-items-center"
         >
         <a href="/">
       
           <img src="{{config.logo}}" class="img-responsive logo" width="146" height="28" alt="KissflowDocs" />
             
         </a>
      </div>
      <div
         class="search-wrapper col-md-6 d-flex justify-content-center align-items-center"
         >
         <div id="instant-search" class="search d-flex align-items-center">
            <svg
               width="28"
               height="28"
               viewBox="0 0 20 20"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
               class="ps-2"
               >
               <path
                  d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                  stroke="#62656B"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  />
               <path
                  d="M17.5 17.5L13.875 13.875"
                  stroke="#62656B"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  />
            </svg>
            <form action="{{rootPath meta.home_path}}/search" method="GET">
               <input
                  id="hd-query"
                  type="text"
                  name="query"
                  class="form-control"
                  placeholder="Search help articles..."
                  />
            </form>
         </div>
      </div>
      <svg class="mobile-icon" onclick="triggerChange();" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
         <path d="M7.99995 14.5001L12 10.5L7.99995 6.5" stroke="#474C57" stroke-width="1.33336" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <div id="mobile-link" >
         <div class="mobile-container">
            {{#if config.nav_items}}
            {{#each config.nav_items}}
            <li>
               <a class="mobile-link" href="{{this.href}}" target="{{fallback this.target "_blank"}}">
               {{this.title}}
               </a>
            </li>
            {{/each}}
            {{/if}}
         </div>
      </div>
      <div
         href="/"
         class="nav-link-container d-flex justify-content-center align-items-center col-md-4"
         >
         {{#if config.nav_items}}
         {{#each config.nav_items}}
         <li>
            <a class="nav-link" href="{{this.href}}" target="{{fallback this.target "_blank"}}">
            {{this.title}}
            </a>
         </li>
         {{/each}}
         {{/if}}
      </div>
   </nav>
</header>

<div id="searchresults" class="container">
   <div id="articles" class="row">
      <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
         <div id="hits"></div>
      </div>
   </div>
</div>
{{#*inline "sidebar_category"}}
<a
class="sidebar-category{{#page "category"}}{{#if (eq category.category_id c.category_id)}} current{{/if}}{{/page}}"
href="#category-{{c.category_id}}-items"
data-toggle="collapse"
aria-expanded="false"
aria-controls="category-{{c.category_id}}-items"
>
<p
id="category-{{c.category_id}}-title"
style="margin-left: {{multiply 0.5 level}}em !important; font-size: {{subtract 1 (multiply 0.05 level)}}em !important;"
{{#categoryIsAscendent @root.meta.sidebar_categories category c}}
class="expanded"
{{/categoryIsAscendent}}
onclick="toggleCategoryIcon(event, '{{c.category_id}}')"
>
{{c.title}} 
</p>
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
   <path d="M8 14.5001L12 10.5L8 6.5" stroke="#474C57" stroke-width="1.33336" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
<div
   id="category-{{c.category_id}}-items"
   class="collapse{{#categoryIsAscendent @root.meta.sidebar_categories category c}} in {{/categoryIsAscendent}}"
   data-toggle="collapse"
   >
   {{#each (filterCategoriesByParentId @root.meta.sidebar_categories c.category_id)}}
   {{> sidebar_category c=this level=(add level 1)}}
   {{/each}}
   {{#page "category"}} 
   <div id="sidebar-article">
      {{/page}}
      {{#each c.articles}}
      <a
      class="sidebar-article{{#page "article"}}{{#if (eq article.article_id this.article_id)}} current{{/if}}{{/page}}"
      href="{{this.relative_url}}"
      onclick="window.location.href='{{this.relative_url}}'"
      >
      <p style="margin-left: {{multiply 0.5 (add level 1)}}em !important; font-size: {{subtract 1 (multiply 0.05 (add level 1))}} !important;">
         {{this.title}}
      </p>
      </a>
      {{/each}}
      {{#page "category"}} 
   </div>
   {{/page}}
</div>
{{/inline}}
{{#*inline "sidebar"}}
<section id="sidebar" class="col-md-3 col-lg-3 stickOnScroll d-flex flex-column justify-content-start align-items-start"
   style="cursor: pointer;">
    {{#page "article"}}<section id="expand"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 10 6" fill="none">
<path d="M0.999925 1L4.99996 5.00004L9 1" stroke="#474C57" stroke-width="1.33336" stroke-linecap="round" stroke-linejoin="round"/>
    </svg></section>{{/page}}
   <p class="mt-5">Browse articles </p>
   {{#each meta.sidebar_categories}}
   {{#unless this.parent_category_id}}
   {{> sidebar_category c=this level=0}}
   {{/unless}}
   {{/each}}
   
</section>
<script>
   function toggleCategoryIcon (event, category_id) {
   
     var $p = $('#category-' + category_id + '-title');
   
     if ($p.hasClass('expanded')) {
   
       $p.removeClass('expanded');
   
     } else {
   
       $p.addClass('expanded');
   
     }
   
   }
   
     
   
   
   
   
   
</script>
{{/inline}}

footer
<style>
   .footer-links
   {
   list-style:none;
   display:flex;
   flex-direction:column;
   align-items:center;
   background:#F7F9FC;
   display:none;
   }
   @media (max-width:1060px)
   {
   .footer-links
   {
   display:flex;
   }
   }
</style>
<div class="footer-links p-2">
   {{#if config.nav_items}}
   {{#each config.nav_items}}
   <li>
      <a class="mobile-link" href="{{this.href}}" target="{{fallback this.target "_blank"}}">
      {{this.title}}
      </a>
   </li>
   {{/each}}
   {{/if}}
</div>
<script src="https://cdn.jsdelivr.net/gh/fcmam5/nightly.js@v1.0/dist/nightly.min.js"></script>
<script>
    //moreless js implementation
   let paraMore = document.querySelector('#more');
   let paraMoreSVG = document.querySelector('#more svg');
   let paraMoreSpan = document.querySelector('#more span');
   let showState = true;
   if(paraMore)
   {
   paraMore.addEventListener('click',more);
   }
   function more(e)
   {
       document.querySelectorAll('.article-element').forEach((ele)=>ele.classList.toggle('show'));
       showState = !showState;
       paraMoreSVG.style.transform = showState ? 'rotate(90deg)' : 'rotate(-90deg)';
       paraMoreSpan.textContent = showState ? 'See more' : 'See less';
       
   }
   
    //show right vertical lines when no.of cat is > 1
   if(window.location.href.includes('category'))
   {
       let categoryCards = document.querySelectorAll('div.subcategory-item');
       if(categoryCards.length <= 1)
       {
           let vertical = document.querySelector('span.vertical');
           if(vertical)
           {
           vertical.style.display = 'none';
           }
       }
   }
   
   //size adjeuster
   
   window.addEventListener('resize',resizer);
   
   
     let sidebr = document.querySelector('section#sidebar');
    
   function resizer()
   {
   if(window.location.href.includes('article'))
   {
        let main = document.querySelector('main');
       if(window.innerWidth<=600)
       {main.classList.add('mx-auto');} 
       if(window.innerWidth<=768)
       {
           document.querySelector('#sidebar').classList.remove('stickOnScroll');
           sidebr.classList.remove('compress');
       }
       if(window.innerWidth>768)
       {
           document.querySelector('#sidebar').classList.add('stickOnScroll');
       }
   }}
   //toc higlighter
   
   if(window.location.href.includes('article'))
   {
       let toc_main = document.querySelector('#toc-wrapper > ul');
       let toc_lists = document.querySelectorAll('#toc ul li');
       toc_lists.forEach(ele=>toc_main.appendChild(ele));
       toc_lists.forEach(ele=>{
           ele.addEventListener('click',show)
       });
   }
                      
   function show(e)
       {
           let toc_lists = document.querySelectorAll('#toc-wrapper ul li a');    
               toc_lists.forEach(ele=>{
           ele.style.color = '#61656C';
       });
   
           
           e.target.style.color='#0565FE';
       }
    
    
    //table design
    
    if(window.location.href.includes('article'))
    {
        let articleTable = document.querySelector('#article table');
        if(articleTable)
        {
            articleTable.classList.add('table');
            articleTable.classList.add('table-responsive');
        }
    }
   
   //hamburger toggler
   let ham = document.getElementById('hamburger');
   let side = document.querySelector('#sidebar');
   ham.addEventListener('click',toggle);
   
                        function toggle(e)
                        {
                           e.currentTarget.classList.toggle('open');
                            side.classList.toggle('open');
   }
    
    let dn = document.querySelector('#download');
    dn.addEventListener('click',printFl);
   function printFl()
    {
        window.print();
    }


    document.querySelector('#expand').addEventListener('click',articleSideAdjust);
    
    function articleSideAdjust(e)
    {
        e.currentTarget.classList.toggle('more');
        sidebr.classList.toggle('compress');
        document.querySelector('#article-wrapper').classList.toggle('col-md-9');
    }
</script>
home
<style>
   @media (max-width:600px)
   {
   .category-wrapper
   {
   flex:0 0 100%;
   }
   .category-inner.d-flex.flex-wrap.justify-content-start
   {
   padding-left:20px;
   }
   }
</style>
<main class="row border">
   {{> "sidebar"}}
   <section id="categories" class="row col-md-9 col-lg-8">
      <div class="p-4" id="home">
         <div class="category-inner d-flex flex-wrap justify-content-start">
            {{#each categories}}
            {{#unless this.parent_category_id}}
            <a class="category-wrapper" href="{{this.relative_url}}">
               <div class="d-flex flex-column justify-content-center align-items-center">
                  <span></span>
                  <img src={{this.icon}} alt="category" />
                  <h3 style="margin-top:0.6em" class="category-title">{{this.title}}</h3>
                  <p class="category-content">
                     This text will act as a description for this category which is customizable
                  </p>
               </div>
            </a>
            {{/unless}}
            {{/each}}
         </div>
      </div>
   </section>
</main>
category
{{#*inline "articleItem"}}
<div class="col-xs-12 col-md-6">
   <a class="card-link" href="{{article.relative_url}}">
      <div id="article" class="card hvr-card">
         <div class="card-block">
            <h3 class="card-title">
               {{#if article.is_featured}}<i class="fa fa-star"></i> &#8203;{{/if}}
               {{~article.title}}
            </h3>
            <p class="card-text">{{article.description}}</p>
            <p class="card-text">
               {{#if article.author.profile_image}}
               <img class="img-fluid img-circle" src="{{article.author.profile_image}}">
               {{/if}}
               <span class="text-muted">
               {{i18n "updated" "Updated"}} {{article.updated_at_relative}}
               </span>
               {{#if article.author.name}}
               <span class="text-muted">
               {{i18n "by" "by"}}
               {{article.author.name}}
               </span>
               {{/if}}
            </p>
         </div>
      </div>
   </a>
</div>
{{/inline}}
<!-- category items template -->
<!-- category main-->
<main class="row">
   {{>"sidebar"}}
   <div id="subcategory-wrapper" class="col-xs-12 col-md-9">
      <section id="category">
         <div id="meta" class="row">
            <div class="col-xs-10 offset-xs-1">
               <p id="breadcrumbs">
                  <a href="{{fallback meta.home_path "/"}}">
                  {{i18n "all_categories" "All Categories"}}
                  </a>
                  >
                  {{> categoryBreadcrumbs}}
               </p>
            </div>
         </div>
      </section>
      <section class="category-current-wrapper mb-3">
         <img src={{category.icon}} alt="{{category.title}}__img" style="margin-bottom:10px" />
         <h2 class="category-current-heading">{{category.title}}<span>( {{category.meta.num_articles}} )</span></h2>
         <p class="category-current-content">
            This text will act as a description for this category which is
            customizable
         </p>
         {{#if  (filterCategoriesByParentId meta.sidebar_categories category.category_id) }}
         <ul class="subcategory-article p-0">
            {{#each category.articles}}
            {{#if (lt @index 5)}}
            <a href={{this.relative_url}} class="m-1">
               <li class="d-flex">
                  <div>
                     <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15" fill="none">
                        <path d="M7.95463 0.65332H2.56124C2.20363 0.65332 1.86068 0.795378 1.60781 1.04824C1.35495 1.30111 1.21289 1.64406 1.21289 2.00167V12.7884C1.21289 13.1461 1.35495 13.489 1.60781 13.7419C1.86068 13.9947 2.20363 14.1368 2.56124 14.1368H10.6513C11.0089 14.1368 11.3519 13.9947 11.6047 13.7419C11.8576 13.489 11.9997 13.1461 11.9997 12.7884V4.69836L7.95463 0.65332Z" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.95483 0.65332V4.69836H11.9999" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.3033 8.06836H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.3033 10.7656H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.25826 5.37305H4.58409H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <p> {{this.title}} 
                  <p>
               </li>
            </a>
            {{/if}}
            {{#if (eq @index 5)}}
            <p id="more">
               <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1 8.9999L4.99995 4.99995L1 1" stroke="#0565FF" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M7 8.9999L11 4.99995L7 1" stroke="#0565FF" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
               </svg>
               <span>See more</span>
            </p>
            {{/if}}
            {{/each}}
            {{#each category.articles}}
            {{#if (gt @index 4)}}
            <a href={{this.relative_url}} class="article-element m-3">
               <li class="d-flex">
                  <div>
                     <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15" fill="none">
                        <path d="M7.95463 0.65332H2.56124C2.20363 0.65332 1.86068 0.795378 1.60781 1.04824C1.35495 1.30111 1.21289 1.64406 1.21289 2.00167V12.7884C1.21289 13.1461 1.35495 13.489 1.60781 13.7419C1.86068 13.9947 2.20363 14.1368 2.56124 14.1368H10.6513C11.0089 14.1368 11.3519 13.9947 11.6047 13.7419C11.8576 13.489 11.9997 13.1461 11.9997 12.7884V4.69836L7.95463 0.65332Z" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.95483 0.65332V4.69836H11.9999" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.3033 8.06836H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.3033 10.7656H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.25826 5.37305H4.58409H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <p>  {{this.title}}</p>
               </li>
            </a>
            {{/if}}
            {{/each}}
         </ul>
         {{/if}}
      </section>
      <section id="subcategories" class="d-flex flex-wrap">
         {{#if  (filterCategoriesByParentId meta.sidebar_categories category.category_id) }}
         {{#each (filterCategoriesByParentId meta.sidebar_categories category.category_id)}}
         <div class="subcategory-item d-flex flex-column">
            <img src={{this.icon}} alt="{{this.title}}__img" style="margin-bottom:10px" width="28" height="28" />
            <a href="/category/{{this.category_id}}-{{this.slug}}">
               <h2 class="category-current-heading">
                  {{this.title}} 
                  <svg style="width:16px;height:16px;" xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                     <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                        <path d="M601 4864 c-169 -45 -301 -180 -346 -351 -23 -86 -23 -3820 0 -3906 45 -173 178 -307 350 -352 52 -13 285 -15 1955 -15 2067 0 1945 -3 2062 56 71 36 159 123 197 193 63 119 61 75 61 1179 0 747 -3 1015 -12 1044 -6 22 -31 62 -55 88 -89 99 -227 107 -327 19 -87 -77 -80 7 -86 -1056 -5 -931 -5 -942 -26 -969 -11 -15 -33 -37 -48 -48 -27 -21 -28 -21 -1752 -24 -1907 -2 -1766 -7 -1820 64 l-29 37 -3 1725 c-2 1921 -8 1763 66 1820 l35 27 941 5 c1057 6 979 -1 1052 83 61 69 78 144 52 231 -16 55 -99 138 -154 154 -31 9 -286 12 -1050 11 -848 0 -1018 -3 -1063 -15z"/>
                        <path d="M3520 4867 c-49 -16 -133 -102 -148 -153 -28 -94 -8 -169 63 -239 31 -32 65 -55 91 -63 28 -8 124 -12 290 -12 l249 0 -737 -737 c-405 -406 -743 -751 -751 -768 -56 -114 -6 -260 110 -316 59 -29 152 -31 203 -5 19 10 367 349 773 754 l737 737 0 -249 c0 -166 4 -262 12 -290 16 -55 99 -138 154 -154 96 -28 182 -4 247 68 24 26 49 66 55 88 9 28 12 203 12 631 0 656 2 636 -66 687 l-37 29 -611 2 c-426 1 -622 -2 -646 -10z"/>
                     </g>
                  </svg>
               </h2>
            </a>
            <p class="category-current-content">
               This text will act as a description for this category which is
               customizable
            </p>
            <ul class="subcategory-article p-0">
               {{#each this.articles}}
               {{#if (lt @index 5)}}
               <a href={{this.relative_url}} class="m-1">
                  <li class="d-flex">
                     <div>
                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15" fill="none">
                           <path d="M7.95463 0.65332H2.56124C2.20363 0.65332 1.86068 0.795378 1.60781 1.04824C1.35495 1.30111 1.21289 1.64406 1.21289 2.00167V12.7884C1.21289 13.1461 1.35495 13.489 1.60781 13.7419C1.86068 13.9947 2.20363 14.1368 2.56124 14.1368H10.6513C11.0089 14.1368 11.3519 13.9947 11.6047 13.7419C11.8576 13.489 11.9997 13.1461 11.9997 12.7884V4.69836L7.95463 0.65332Z" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M7.95483 0.65332V4.69836H11.9999" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M9.3033 8.06836H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M9.3033 10.7656H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M5.25826 5.37305H4.58409H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                     </div>
                     <p>{{this.title}}</p>
                  </li>
               </a>
               {{/if}}
               {{/each}}
            </ul>
            {{#each this.articles}}
            {{#if (eq @index 5)}}
            <a class="see more" href="/category/{{this.category_id}}-{{this.slug}}">
               <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1 8.9999L4.99995 4.99995L1 1" stroke="#0565FF" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M7 8.9999L11 4.99995L7 1" stroke="#0565FF" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
               </svg>
               <p>See all {{../this.meta.num_articles}} articles</p>
            </a>
            {{/if}}{{/each}}
            <span></span>
         </div>
         {{/each}}
         {{else}}
         <div class="subcategory-item d-flex flex-column">
            <ul class="subcategory-article p-0 solo">
               {{#each category.articles}}
               <a href={{this.relative_url}} class="m-1">
                  <li class="d-flex">
                     <div>
                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15" fill="none">
                           <path d="M7.95463 0.65332H2.56124C2.20363 0.65332 1.86068 0.795378 1.60781 1.04824C1.35495 1.30111 1.21289 1.64406 1.21289 2.00167V12.7884C1.21289 13.1461 1.35495 13.489 1.60781 13.7419C1.86068 13.9947 2.20363 14.1368 2.56124 14.1368H10.6513C11.0089 14.1368 11.3519 13.9947 11.6047 13.7419C11.8576 13.489 11.9997 13.1461 11.9997 12.7884V4.69836L7.95463 0.65332Z" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M7.95483 0.65332V4.69836H11.9999" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M9.3033 8.06836H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M9.3033 10.7656H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M5.25826 5.37305H4.58409H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                     </div>
                     <p>{{this.title}}</p>
                  </li>
               </a>
               {{/each}}
            </ul>
         </div>
         {{/if}}
         {{#if (filterCategoriesByParentId meta.sidebar_categories category.category_id)}}  <span class="vertical"></span> {{/if}}
      </section>
   </div>
</main>
article
<style>
   .line
   {
   color:gray;
   height:22px;
   align-self:center;
   border-left:1px solid #D2DDEC;
   }
   #body
   {
   margin-left:1.5rem;
   }
   #body img
   {margin:1rem 0;}
   section#sidebar
   {
   width:16%;
   margin-left:7px;
   position:sticky;
   top:0;
   padding-left:1rem;
   }
   #article-wrapper
   {
   min-height:100vh;
   }
   main.row.mx-auto
   {
   min-height:100vh;
   }
   .card .card-block h1
   {
   font-family: Inter;
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   letter-spacing: -0.5px;
   text-align: left;
   color: #080E19;
   }
   .card .card-block p
   {
   font-family: Inter;
   font-size: 15px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.10000000149011612px;
   text-align: justify;
   color: #474C57;
   }
   .card .card-block h1 , .card .card-block h2 , .card .card-block h3 , .card .card-block p , .card .card-block h4 , .card .card-block h5
   {
   font-family:Inter;
   margin:1rem 0;
   }
   #toc
   {
   display:none;
   }
   .meta-postedBy
   {
   width:280px;
   padding:1rem;
   padding-left:0;
   justify-content:space-between;
   align-items:center;
   }
   .meta-postedBy p
   {
   color: #61656C;
   }
   #meta-article-items
   {
   position:fixed;
   top:72px;
   right:0;
   bottom:0;
   background: #F7F9FC;
   width:16%;
   overflow-y:scroll;
   min-height:100vh;
   }
   @media (max-width:1000px)
   {
   #meta-article-items
   {
   width:60%;
   margin:0 auto;
   position:static;
   min-height:auto;
   
   }
   }
   @media (max-width:768px)
   {
   #meta-article-items
   {
   width:100%;
   }
   }
    
   #feedback h3
   {
   font-family: Inter;
   font-size: 13px;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: -0.10000000149011612px;
   text-align: left;
   color: #61656C;
   }
    
    
    section#sidebar
    {
        transition: all 0.5s;
        overflow:visible;
       
    }
    section#sidebar.compress
    {
         box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
        width:50px;
    }
     section#sidebar.compress > :not(#expand)
    {
        visibility:hidden;
    }
    #expand
    {
        display:flex;
      justify-content:center;
        align-items:center;
       position:absolute;
        right:2%;
        z-index:100;
        top:40px;
        border-radius: 50%;
background: linear-gradient(145deg, #e2e2e3, #ffffff);
box-shadow:  20px 20px 60px #d5d5d6,
             -20px -20px 60px #ffffff;
        cursor:pointer;
        width:32px;
        pointer-events:auto;
        height:32px;
        box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.33);
    }
    #expand svg
    {
        transform:rotate(90deg);
        width:12px;
        height:12px;
        transition:all 0.3s;
    }
    #expand.more
    {
        right:50%;
        transform:translate(50%,0);
        margin-left:0;
    }
    
    #expand.more svg
    {
        transform:rotate(270deg);
    }
    
   #feedback button
   {
   padding-left:0;
   text-decoration:none;
   font-family: Inter;
   font-size: 14px;
   font-weight: 500;
   line-height: 22px;
   letter-spacing: -0.10000000149011612px;
   text-align: left;
   color: #282D38;
   }
   div.thanks i
   {
   margin:0 0.6rem 0 0;
   }
   div.thanks
   {
   display:flex;
   justify-content:flex-start;
   align-items:center;
   padding:1rem;
   }
    section#sidebar
    {
        position:relative;
    }
   .horizontal
   {
   border-bottom:1px solid #E1E6ed;
   width:90%;
   margin-left:1.1rem;
   }
   #toc-wrapper , #related-article
   {
   margin-top:1.5rem;
   margin-left:1.1rem;
   }
   #toc-wrapper h2 ,#related-article h2
   {
   font-family: Inter;
   font-size: 14px;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: -0.10000000149011612px;
   text-align: left;
   color: #282D38;
   }
   #toc-wrapper ul li a , #related-article ul li a
   {
   font-family: Inter;
   font-size: 14px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: -0.10000000149011612px;
   text-align: left;
   color: #61656C;
   }
   #toc-wrapper ul ,#related-article ul
   {
   padding-left:8px;
   }
   #toc-wrapper ul li ,#related-article ul li
   {
   margin-bottom:0.4rem;
   }
   @media (max-width:768px)
   {
   section#sidebar {
   position:absolute;
   top:14%;
   left:-100%;
   transition:0.3s;
   width:100%;
   }
       #expand
    {
        display:none;
    }
   }
   section#sidebar.open
   {
   z-index:40;
   left:0%;
   }
    
   }
   .author-meta
   {
   display:flex;
   }
   .author-meta p span
   {
   margin-left:5px;
   }
   @media (max-width:1000px)
   {
   #toc-wrapper
   {
   display:none;
   }
   }
    @media (min-width:1000px)
        {
            #feedback
            {
                margin-top:2rem;
            }
    }
</style>
<main class="row">
   {{>"sidebar"}}
   <section id="article-wrapper" class="col-xs-12 col-md-8">
      <div id="article">
         <div id="meta" class="row">
            <div class="col-xs-10 offset-xs-1">
               <p id="breadcrumbs">
                  <a href="{{fallback meta.home_path "/"}}">
                  {{i18n "all_categories" "All Categories"}}
                  </a>
                  &#8203;>&#8203;
                  {{> categoryBreadcrumbs linkify=true}}
                  &#8203;> &#8203;
                  {{#if category.icon}}
                  <i class="fa breadcrumb-icon fa-file-text{{#if (hasSuffix category.icon "-o")}}-o{{/if}}"></i>
                  {{/if}}
                  {{article.title}}
               </p>
            </div>
         </div>
         <div id="body" class="row">
            <div class="col-xs-12">
               <div class="card">
                  <div class="card-block">
                     <h1 class="card-title">{{article.title}} <svg id="download" style="cursor:pointer;" xmlns="http://www.w3.org/2000/svg" version="1.0" width="22.000000pt" height="22.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
<path d="M2500 4309 c-29 -12 -67 -46 -83 -74 -9 -15 -13 -322 -17 -1159 l-5 -1139 -277 221 c-290 231 -308 242 -383 228 -65 -12 -125 -85 -125 -150 0 -14 7 -44 16 -66 14 -34 74 -86 429 -370 227 -181 430 -337 451 -346 83 -35 81 -36 553 341 236 189 437 355 446 369 58 88 10 206 -95 237 -70 21 -97 6 -399 -236 -154 -124 -283 -225 -286 -225 -2 0 -6 513 -7 1139 -3 1133 -3 1140 -24 1167 -11 15 -32 37 -46 47 -31 23 -111 32 -148 16z"/>
<path d="M735 2066 c-37 -17 -70 -52 -84 -89 -7 -18 -11 -158 -11 -391 0 -293 3 -373 15 -421 45 -172 179 -305 352 -350 86 -23 3020 -23 3106 0 178 46 320 193 357 368 7 35 10 181 8 425 -3 356 -4 372 -24 398 -39 53 -71 69 -134 69 -63 0 -95 -16 -134 -69 -20 -26 -21 -43 -26 -406 -5 -363 -6 -380 -26 -406 -11 -15 -33 -37 -48 -48 -27 -21 -28 -21 -1526 -21 -1498 0 -1499 0 -1526 21 -15 11 -37 33 -48 48 -20 26 -21 43 -26 406 -5 363 -6 380 -26 406 -11 15 -32 37 -46 47 -34 25 -113 32 -153 13z"/>
</g>
</svg></h1>
                     <div class="meta-postedBy d-flex">
                        <div>
                           <p>Modified : {{article.updated_at_relative }}</p>
                        </div>
                        <div class="line"></div>
                        <div class="author-meta d-flex">
                           {{#if article.author.profile_image}}
                           <img class="img-fluid" src="{{article.author.profile_image}}" width="25" height="25" style="border-radius:50%" >
                           {{/if}}
                           {{#if article.author.name}}
                           <p> 
                              <span class="text-muted">
                              {{article.author.name}}
                              </span>
                           </p>
                           {{/if}}
                        </div>
                     </div>
                     {{{article.body}}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="meta-article-items" class="col-md-2">
      <div id="feedback" class="card-block ps-4" data-feed="feedback" data-thanks="{{i18n "got_it" "Got it!"}}">
      <h3>{{i18n "how_did_we_do" "How did we do?"}}</h3>
      <div class="btn-group" role='group' aria-label='Feedback'>
         <button class="feedback-positive btn btn-link" type='button'>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
               <path d="M4.66634 14.6673H2.66634C2.31272 14.6673 1.97358 14.5268 1.72353 14.2768C1.47348 14.0267 1.33301 13.6876 1.33301 13.334V8.66732C1.33301 8.3137 1.47348 7.97456 1.72353 7.72451C1.97358 7.47446 2.31272 7.33398 2.66634 7.33398H4.66634M9.33301 6.00065V3.33398C9.33301 2.80355 9.12229 2.29484 8.74722 1.91977C8.37215 1.5447 7.86344 1.33398 7.33301 1.33398L4.66634 7.33398V14.6673H12.1863C12.5079 14.671 12.8199 14.5583 13.0649 14.35C13.31 14.1417 13.4715 13.8519 13.5197 13.534L14.4397 7.53398C14.4687 7.34289 14.4558 7.14777 14.4019 6.96215C14.348 6.77653 14.2544 6.60485 14.1276 6.45899C14.0008 6.31314 13.8437 6.19661 13.6674 6.11746C13.4911 6.03832 13.2996 5.99846 13.1063 6.00065H9.33301Z" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Yes
         </button>
         <button class="feedback-negative btn btn-link" type='button'>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
               <path d="M10.3334 1.33423H12.1134C12.4907 1.32755 12.8573 1.45965 13.1436 1.70544C13.43 1.95123 13.6161 2.2936 13.6667 2.66756V7.33423C13.6161 7.70819 13.43 8.05056 13.1436 8.29635C12.8573 8.54214 12.4907 8.67423 12.1134 8.66756H10.3334M5.66669 10.0009V12.6676C5.66669 13.198 5.8774 13.7067 6.25247 14.0818C6.62755 14.4568 7.13625 14.6676 7.66669 14.6676L10.3334 8.66756V1.33423H2.81335C2.4918 1.33059 2.17977 1.44329 1.93475 1.65155C1.68973 1.85982 1.52824 2.14962 1.48002 2.46756L0.56002 8.46756C0.531015 8.65865 0.543904 8.85377 0.597794 9.03939C0.651684 9.22501 0.745286 9.3967 0.872115 9.54255C0.998944 9.6884 1.15597 9.80494 1.33231 9.88408C1.50864 9.96322 1.70008 10.0031 1.89335 10.0009H5.66669Z" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            No
         </button>
      </div>
      </div>
      <div class="horizontal"></div>
      <div id="htmlWithToc">
         {{#if article.show_toc}}
         <div id="toc-wrapper">
            <h2>Table of contents</h2>
            <ul></ul>
         </div>
         {{/if}}
         {{#if @root.meta.related_articles}}
         <div id="related-article">
            <h2 class="mb-1">Related articles</h2>
            <ul>
               {{#each @root.meta.related_articles}}
               <li>
                  <a class="d-flex" href="{{this.relative_url}}">
                     <div>
                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15" fill="none">
                           <path d="M7.95463 0.65332H2.56124C2.20363 0.65332 1.86068 0.795378 1.60781 1.04824C1.35495 1.30111 1.21289 1.64406 1.21289 2.00167V12.7884C1.21289 13.1461 1.35495 13.489 1.60781 13.7419C1.86068 13.9947 2.20363 14.1368 2.56124 14.1368H10.6513C11.0089 14.1368 11.3519 13.9947 11.6047 13.7419C11.8576 13.489 11.9997 13.1461 11.9997 12.7884V4.69836L7.95463 0.65332Z" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M7.95483 0.65332V4.69836H11.9999" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M9.3033 8.06836H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M9.3033 10.7656H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M5.25826 5.37305H4.58409H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                     </div>
                     <p>{{this.title}}</p>
                  </a>
               </li>
               {{/each}}
            </ul>
         </div>
         {{/if}}
      </div>
   </section>
</main>
search
<div class="container-fluid">
   <div id="search-result-wrapper" class="row mx-auto">
      <div class="col-xs-12 mx-auto col-md-9 col-xl-10">
         <div id="searchresultspg" data-search-term="{{fallback search_term "undefined"}}">
         <div class="row">
            <div  class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
               {{#if articles}}
               <h1 class="search-result-heading">Search results for <span>"{{fallback search_term "undefined"}}"</span></h1>
               {{/if}}
               {{#each articles}}
               <div class="row">
                  <div class="col-xs">
                     <a class="card-link" data-article-id="{{this.article_id}}" href="{{this.relative_url}}">
                        <div id="article" class="card hvr-card">
                           <div class="card-block">
                              <h3 class="card-title">
                                 <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15" fill="none">
                                    <path d="M7.95463 0.65332H2.56124C2.20363 0.65332 1.86068 0.795378 1.60781 1.04824C1.35495 1.30111 1.21289 1.64406 1.21289 2.00167V12.7884C1.21289 13.1461 1.35495 13.489 1.60781 13.7419C1.86068 13.9947 2.20363 14.1368 2.56124 14.1368H10.6513C11.0089 14.1368 11.3519 13.9947 11.6047 13.7419C11.8576 13.489 11.9997 13.1461 11.9997 12.7884V4.69836L7.95463 0.65332Z" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.95483 0.65332V4.69836H11.9999" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.3033 8.06836H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.3033 10.7656H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5.25826 5.37305H4.58409H3.90991" stroke="#61656F" stroke-linecap="round" stroke-linejoin="round"/>
                                 </svg>
                                 {{this.title}}
                              </h3>
                              <p class="card-description">{{this.description}}</p>
                              {{#if this.updated_at_relative}}
                              {{#if this.search.score}}
                              <p class="card-meta text-muted">
                                 {{i18n "updated" "Updated"}} {{this.updated_at_relative}}
                                 <span class="pull-right">
                                 {{this.search.score}}%
                                 {{i18n "relevance" "relevance"}}
                                 </span>
                              </p>
                              {{/if}}
                              {{/if}}
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
               {{/each}}
               {{#unless articles}}
               <div class="text-xs-center">
                  <p class="lead">&nbsp;</p>
                  <i class="fa fa-3x fa-times-circle text-muted"></i>
                  <p class="lead">
                     {{i18n "no_articles_found" "We couldn't find any articles matching"}}
                     <b>{{original_search_term}}</b>
                  </p>
               </div>
               {{/unless}}
            </div>
         </div>
      </div>
   </div>
</div>
</div>
